<table>
  <tr>
    <td colspan="3">
      会員の方はこちらからログイン
    </td>
    <td></td>
  </tr>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <tr>
    <td></td>
    <td>
      <%= f.label :メールアドレス %>
    </td>
    <td colspan="2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </td>
  </tr>
  <tr>
    <td width=15%></td>
    <td>
      <%= f.label :パスワード %>
    </td>
    <td colspan="2">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </td>
  </tr>
  <tr>
    <td></td><td></td><td></td>
    <td>
      <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
    </td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>
      <%= f.submit "ログイン" %>
    </td>
    <td></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2">登録がお済でない方</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">
      <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください
    </td>
  </tr>
</table>
